<ion-view title="Bluume6" id="page14">
  <ion-content padding="true" class="has-header">
    <h2 id="bluume6-heading10" style="text-align:center;">Complete Payment</h2>
    <div id="bluume6-markdown57" style="text-align:center;" class="show-list-numbers-and-dots">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <form id="bluume6-form24" class="list">
      <label class="item item-input item-stacked-label" id="bluume6-input11" name="company">
        <span class="input-label">COMPANY NAME</span>
        <input type="text" placeholder="Company">
      </label>
      <label class="item item-input item-stacked-label" id="bluume6-input12" name="address1">
        <span class="input-label">COMPANY ADDRESS</span>
        <input type="text" placeholder="555 Main Street">
      </label>
      <label class="item item-input item-stacked-label" id="bluume6-input13" name="address2">
        <span class="input-label">COMPANY ADDRESS LINE 2</span>
        <input type="text" placeholder="Suite Number">
      </label>
      <label class="item item-input item-stacked-label" id="bluume6-input14" name="city">
        <span class="input-label">CITY</span>
        <input type="text" placeholder="Scottsdale">
      </label>
      <label class="item item-select" id="bluume6-select1" name="state">
        <span class="input-label">STATE</span>
        <select>
          <option>AK</option>
          <option>AZ</option>
        </select>
      </label>
      <label class="item item-input item-stacked-label" id="bluume6-input16" name="zipcode">
        <span class="input-label">ZIP CODE</span>
        <input type="text" placeholder="55555">
      </label>
      <label class="item item-select" id="bluume6-select2" name="country">
        <span class="input-label">COUNTRY</span>
        <select>
          <option>USA</option>
          <option>Not USA</option>
        </select>
      </label>
      <ion-checkbox id="bluume6-checkbox1" name="billingaddress" class="billing">Billing Address Same as Company?</ion-checkbox>
      <ion-item class="item-divider" id="bluume6-list-item-divider10"> </ion-item>
      <div class="spacer" style="height: 20px;"></div>
      <div id="bluume6-markdown64" class="show-list-numbers-and-dots sub-title">
        <p>payment info</p>
      </div>
      <label class="item item-input item-stacked-label" id="bluume6-input17" name="cardnumber">
        <span class="input-label">CARD NUMBER</span>
        <input type="number" placeholder="0000 0000 0000 0000">
      </label>
      <label class="item item-input item-stacked-label" id="bluume6-input18" name="cardname">
        <span class="input-label">NAME ON CARD</span>
        <input type="text" placeholder="John Doe">
      </label>
      <label class="item item-input item-stacked-label" id="bluume6-input19" name="carddate">
        <span class="input-label">EXP DATE</span>
        <input type="date" placeholder="00 / 00">
      </label>
      <label class="item item-input item-stacked-label" id="bluume6-input20" name="cardcode">
        <span class="input-label">CVV CODE</span>
        <input type="number" placeholder="000">
      </label>
    </form>
    <h3 id="bluume6-heading12">Summary</h3>
    <ion-list id="bluume6-list10">
      <ion-item class="item-thumbnail-left" id="bluume6-list-item23">
        <h2>{base-title}</h2>
        <p>{base-description}</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="bluume6-list-item24">
        <h2>{add-title}</h2>
        <p>{add-description}</p>
      </ion-item>
    </ion-list>
    <ion-list id="bluume6-list11">
      <ion-item id="bluume6-list-item25">Subtotal
        <span class="item-note">{subtotal}</span>
      </ion-item>
      <ion-item id="bluume6-list-item26">Tax
        <span class="item-note">{tax}</span>
      </ion-item>
      <ion-item class="item-divider" id="bluume6-list-item-divider11"> </ion-item>
      <ion-item id="bluume6-list-item27">Total
        <span class="item-note">{total}</span>
      </ion-item>
      <ion-checkbox id="bluume6-checkbox2">I Agree to Terms &amp; Conditions</ion-checkbox>
    </ion-list>
    <a ui-sref="bluume7()" id="bluume6-button27" class="button button-positive button-block primary-btn">COMPLETE PAYMENT</a>
    <div id="bluume6-markdown65" style="text-align:center;" class="show-list-numbers-and-dots">
      <p> Payment secured by 256-bit encryption</p>
    </div>
    <div id="bluume6-markdown63" style="text-align:right;" class="show-list-numbers-and-dots step">
      <p>Step 5 of 5</p>
    </div>
    <a ui-sref="bluume5()" id="bluume6-button28" class="button button-dark button-small button-clear icon-left ion-android-arrow-back"> Back</a>
  </ion-content>
</ion-view>