<ion-view title="Bluume3" id="page10">
  <ion-content padding="true" class="has-header">
    <h2 id="bluume3-heading5" style="text-align:center;">Building your Package</h2>
    <div class="spacer" style="height: 20px;"></div>
    <div id="bluume3-markdown22" style="text-align:center;" class="show-list-numbers-and-dots">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Basic Offer $399.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <form id="bluume3-form9" class="list">
      <div id="bluume3-markdown23" class="show-list-numbers-and-dots sub-title">
        <p>1) select your offer</p>
      </div>
      <div id="bluume3-markdown24" style="text-align:justify;" class="show-list-numbers-and-dots">
        <p>Select the offer you would like to use in the advertising. The right offer is the single largest reason between good and great results. Bluume knows which offers works the best through our advanced testing systems.</p>
      </div>
      <form id="bluume3-form12" class="list">
        <ion-radio id="bluume3-radio8" name="offer" class="offer">offer 1</ion-radio>
        <ion-radio id="bluume3-radio9" name="offer" class="offer">offer 2</ion-radio>
        <ion-radio id="bluume3-radio7" name="offer" class="offer">offer 3</ion-radio>
      </form>
    </form>
    <div id="bluume3-markdown26" class="show-list-numbers-and-dots sub-title">
      <p>2) campaign preview</p>
    </div>
    <div id="bluume3-markdown27" class="show-list-numbers-and-dots">
      <p>After you’ve selected your offer you will see an example of the how your campaign will be built.</p>
    </div>
    <div class="list card" id="bluume3-card24">
      <ion-item class="item-avatar" id="bluume3-list-item11">
        <h2>Campaign Preview</h2>
        <p>Check out our offer!</p>
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="bluume3-list-item-container6">
        <div id="bluume3-markdown30" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Campaign text will go here!</p>
        </div>
      </div>
      <ion-item class="item-icon-left positive" id="bluume3-list-item12">
        <i class="icon ion-thumbsup"></i>Like this promotion</ion-item>
    </div>
    <button id="bluume3-button10" class="button button-calm button-block icon-left ion-android-cart buy-btn"> BUY NOW</button>
    <a ui-sref="bluume4()" id="bluume3-button8" class="button button-positive button-block primary-btn">CONTINUE TO ENHANCEMENTS</a>
    <div id="bluume3-markdown28" style="text-align:right;" class="show-list-numbers-and-dots step">
      <p>Step 3 of 5</p>
    </div>
    <a ui-sref="bluume2()" id="bluume3-button9" class="button button-dark button-small button-clear icon-left ion-android-arrow-back"> Back</a>
  </ion-content>
</ion-view>