<ion-view title="Bluume8" id="page17">
  <ion-content padding="true" class="has-header">
    <h2 id="bluume8-heading17" style="text-align:center;">Technical Evaluation Form</h2>
    <div id="bluume8-markdown74" style="text-align:center;" class="show-list-numbers-and-dots">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <form id="bluume8-form28" class="list">
      <label class="item item-input" id="bluume8-input40">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="bluume8-input39">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="bluume8-input41">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="bluume8-button33" class="button button-positive button-block primary-btn">SUBMIT</button>
  </ion-content>
</ion-view>