<ion-view title="Bluume4" id="page11">
  <ion-content padding="true" class="has-header">
    <h2 id="bluume4-heading6" style="text-align:center;">Business Performance Enhancers</h2>
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <div id="bluume4-markdown31" style="text-align:center;" class="show-list-numbers-and-dots">
      <p>Having the right marketing campaign is just the start to business growth; with the growth of social media, online maps and review sites staying ahead of your customers and competition can be time consuming - so we help with that</p>
    </div>
    <form id="bluume4-form15" class="list">
      <div id="bluume4-markdown32" class="show-list-numbers-and-dots sub-title">
        <p>select your business enhancers</p>
      </div>
      <div id="bluume4-markdown33" class="show-list-numbers-and-dots">
        <p>Select an optional add-on to increase results</p>
      </div>
      <div id="bluume4-markdown38" class="show-list-numbers-and-dots sub-title">
        <p>listings management</p>
      </div>
      <ion-radio id="bluume4-radio10" name="listings" class="enhancers">None</ion-radio>
      <ion-radio id="bluume4-radio12" name="listings" class="enhancers">Add Listings +$299</ion-radio>
      <div class="spacer" style="width: 300px; height: 28px;"></div>
      <div id="bluume4-markdown39" class="show-list-numbers-and-dots sub-title">
        <p>reputation management</p>
      </div>
      <ion-radio id="bluume4-radio13" name="reputation" class="enhancers">None</ion-radio>
      <ion-radio id="bluume4-radio14" name="reputation" class="enhancers">Add Reputation +$299</ion-radio>
      <div class="spacer" style="width: 300px; height: 28px;"></div>
      <div id="bluume4-markdown40" class="show-list-numbers-and-dots sub-title">
        <p>social media management</p>
      </div>
      <ion-radio id="bluume4-radio15" name="social-media" class="enhancers">None</ion-radio>
      <ion-radio id="bluume4-radio16" name="social-media" class="enhancers">Add Social Media +$299</ion-radio>
    </form>
    <a ui-sref="bluume5()" id="bluume4-button13" class="button button-positive button-block primary-btn">BUY NOW</a>
    <div id="bluume4-markdown37" style="text-align:right;" class="show-list-numbers-and-dots step">
      <p>Step 4 of 5</p>
    </div>
    <a ui-sref="bluume3()" id="bluume4-button14" class="button button-dark button-small button-clear icon-left ion-android-arrow-back"> Back</a>
  </ion-content>
</ion-view>