<ion-view title="Bluume2" id="page9">
  <ion-content padding="true" class="has-header">
    <h2 id="bluume2-heading4" style="text-align:center;">Getting to know you</h2>
    <div id="bluume2-markdown15" style="text-align:center;" class="show-list-numbers-and-dots">
      <p>Bluume revolutionized creating revenue generating machines for business owners. We constantly research marketing across the United States so your campaigns are top performing. Please follow the below steps so we match the world class marketing to
        your business.</p>
    </div>
    <form id="bluume2-form6" class="list">
      <ion-item class="item-divider" id="bluume2-list-item-divider5"> </ion-item>
      <div class="spacer" style="width: 300px; height: 28px;"></div>
      <div id="bluume2-markdown16" class="show-list-numbers-and-dots sub-title">
        <p>choose your industry</p>
      </div>
      <div id="bluume2-markdown17" class="show-list-numbers-and-dots">
        <p>Bluume is expanding to more industries soon</p>
      </div>
      <div>
        <img src="img/HSWvpo9URCWK6CIz0blC_food_and_drink.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 20px;"></div>
      <div>
        <img src="img/DRjvLPgStqJTFKDKSuWQ_orthodontist.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 20px;"></div>
      <div>
        <img src="img/xyrj8MSsR8G6lbxINGP8_ecommerce.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 20px;"></div>
      <div id="bluume2-markdown18" style="text-align:center;" class="show-list-numbers-and-dots">
        <p>Industry not listed? Let Us Know</p>
      </div>
      <div id="bluume2-markdown19" class="show-list-numbers-and-dots sub-title">
        <p>monthly revenue</p>
      </div>
      <div id="bluume2-markdown20" class="show-list-numbers-and-dots">
        <p>This helps us understand if Starter is best fit for your growth plans.</p>
      </div>
      <ion-radio id="bluume2-radio3" name="revenue">Less than $20k</ion-radio>
      <ion-radio id="bluume2-radio4" name="revenue">More than $20k</ion-radio>
    </form>
    <a ui-sref="bluume3()" id="bluume2-button6" class="button button-positive button-block primary-btn">CONTINUE</a>
    <div id="bluume2-markdown21" style="text-align:right;" class="show-list-numbers-and-dots step">
      <p>Step 2 of 5</p>
    </div>
    <a ui-sref="bluume1()" id="bluume2-button7" class="button button-dark button-small button-clear icon-left ion-android-arrow-back"> Back</a>
  </ion-content>
</ion-view>