<ion-view title="Bluume7" id="page15">
  <ion-content padding="true" class="has-header">
    <h2 id="bluume7-heading13" style="text-align:center;">Congratulations! You are on your way to accelerated growth.</h2>
    <div id="bluume7-markdown66" style="text-align:center;" class="show-list-numbers-and-dots">
      <p>Here are the required next steps</p>
    </div>
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <ion-list id="bluume7-list12">
      <ion-item class="item-thumbnail-left" id="bluume7-list-item28">
        <h2>Technical Evaluation</h2>
        <p style="white-space:normal;">Our revolutionized system works best when we the critical information about your business, so we need your help to complete a technical evaluation</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="bluume7-list-item29">
        <h2>Onboarding Call</h2>
        <p style="white-space:normal;">After completing your evaluation, please schedule an On Boarding call with a Bluume Team expert to finalize our partnership and answer any questions that you may have.</p>
      </ion-item>
    </ion-list>
    <a ui-sref="bluume8()" id="bluume7-button29" class="button button-positive button-block primary-btn">CONTINUE</a>
  </ion-content>
</ion-view>