<ion-view title="Bluume5" id="page13">
  <ion-content padding="true" class="has-header">
    <h2 id="bluume5-heading8" style="text-align:center;">Package Summary</h2>
    <div id="bluume5-markdown48" style="text-align:center;" class="show-list-numbers-and-dots">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <div id="bluume5-markdown49" class="show-list-numbers-and-dots sub-title">
      <p>your bluume campaign</p>
    </div>
    <div id="bluume5-markdown51" class="show-list-numbers-and-dots sub-title">
      <p>{active-offer-title}</p>
    </div>
    <div>
      <img src="img/i9Xl4Yt0TB6zJROiF5mo_food_and_drink.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="bluume5-markdown50" style="text-align:center;" class="show-list-numbers-and-dots">
      <p>{selected-offer-description}</p>
    </div>
    <div id="bluume5-markdown56" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#4D4D4D;">{selected-offer-statistic}</p>
    </div>
    <ion-list id="bluume5-list4">
      <ion-item class="item-divider" id="bluume5-list-item-divider6"> </ion-item>
    </ion-list>
    <div id="bluume5-markdown52" class="show-list-numbers-and-dots sub-title">
      <p>business enhancers</p>
    </div>
    <ion-list id="bluume5-list2">
      <ion-item class="item-thumbnail-left" id="bluume5-list-item15">
        <h2>{add-title}</h2>
        <p style="white-space:normal;">{add-description}</p>
      </ion-item>
      <ion-item class="item-divider" id="bluume5-list-item-divider3"> </ion-item>
      <ion-item id="bluume5-list-item17">{base-title}
        <span class="item-note">{base-cost}</span>
      </ion-item>
    </ion-list>
    <ion-list id="bluume5-list3">
      <ion-item id="bluume5-list-item16">{add-title}
        <span class="item-note">{add-cost}</span>
      </ion-item>
      <ion-item class="item-divider" id="bluume5-list-item-divider2"> </ion-item>
      <ion-item id="bluume5-list-item18">Subtotal
        <span class="item-note">{subtotal}</span>
      </ion-item>
    </ion-list>
    <a ui-sref="bluume6()" id="bluume5-button19" class="button button-positive button-block primary-btn">BUY NOW</a>
    <div id="bluume5-markdown55" style="text-align:right;" class="show-list-numbers-and-dots step">
      <p>Package Summary</p>
    </div>
    <a ui-sref="bluume4()" id="bluume5-button20" class="button button-dark button-small button-clear icon-left ion-android-arrow-back"> Back</a>
  </ion-content>
</ion-view>