<ion-view title="Bluume1" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="bluume1-form2" class="list">
      <h2 id="bluume1-heading2" style="text-align:center;">Getting Started</h2>
      <div id="bluume1-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
        <p>Please give us a few details so we can make your shopping experience even easier.</p>
      </div>
      <div class="spacer" style="width: 300px; height: 52px;"></div>
      <label class="item item-input item-stacked-label" id="bluume1-input5" name="FIRST NAME">
        <span class="input-label">FIRST NAME</span>
        <input type="text" placeholder="Steven">
      </label>
      <label class="item item-input item-stacked-label" id="bluume1-input6" name="last">
        <span class="input-label">LAST NAME</span>
        <input type="text" placeholder="Johnson">
      </label>
      <label class="item item-input item-stacked-label" id="bluume1-input7" name="email">
        <span class="input-label">EMAIL</span>
        <input type="email" placeholder="email@domain.com">
      </label>
    </form>
    <a ui-sref="bluume2()" id="bluume1-button2" class="button button-positive button-block primary-btn">CONTINUE</a>
  </ion-content>
</ion-view>