$font-stack: Helvetica, sans-serif;
$primary-color: #9B9B9B;
$accent-color: #0077E2;
$dark-grey: #4A4A4A;
$grey: #9B9B9B;
$blue: #0077E2;
$shadow: 0px 2px 18px 0px rgba(120,137,149,.25);
$ionicons-font-path: "../lib/ionic/fonts" !default;
@import "../www/lib/ionic/scss";
body {
	font: 100% $font-stack;
	color: $primary-color;
}

h1,h2,h3,h4 {
	color: $dark-grey;
}

p {
	color: $grey;
}

.primary-btn {
	background: $blue!important;
	box-shadow: 0px 2px 18px 0px rgba(120,137,149,.25)!important;
	&: hover {
		background: darken($blue,25%)!important;
		transition: all 0.3s ease;
	}
	
}
.sub-title {
	text-transform: uppercase;
	p {
		color: $dark-grey!important;
		font-weight: 800;
	}
	
}
.step {
	float: right;
}

